doctype html
html(lang='en')
  head
    meta(charset='ISO-8859-1')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='description', content='')
    meta(name='author', content='Dayakar')
    link(href='assets/images/favicon-icon.ico', rel='shortcut icon')
    link(href='assets/images/favicon-icon.ico', type="image/ico", rel='shortcut icon')
    link(href='assets/css/main.css', rel='stylesheet')
    block head
    script(src='https://www.google.com/recaptcha/api.js')
  body
    script(src='assets/js/svg.js')
    block main
    script(src='assets/js/jquery.min.js')
